<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <%@params.each_with_index do |param,i| %>
  <%="#{@out[i]}#{param[1]}" %>
  <%end%>


 </body>
</html>
